repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-merge-conflict
  - id: check-symlinks
  - id: destroyed-symlinks
  - id: detect-private-key
  - id: end-of-file-fixer
  - id: fix-byte-order-marker
  - id: forbid-new-submodules
  - id: mixed-line-ending
  - id: trailing-whitespace
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.5
  hooks:
  - id: forbid-crlf
  - id: remove-crlf
  - id: forbid-tabs
  - id: remove-tabs
- repo: https://github.com/hadolint/hadolint
  rev: v2.14.0
  hooks:
  - id: hadolint
    # ignore apt version pinning and WORKDIR directory switching
    # for now as they are not what we would want in our builds
    args: ['--ignore', 'DL3008', '--ignore', 'DL3003']
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: 3.0.0
  hooks:
    - id: forbid-binary
    - id: git-check
    - id: shellcheck
    - id: shfmt
      args: ['-i 2']
- repo: https://github.com/NixOS/nixfmt
  rev: v1.1.0
  hooks:
  - id: nixfmt-nix
